.events-swiper {
    user-select: none;
}

.swiper-pagination-bullet {
    background: rgb(197, 197, 197);
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background: red;
    opacity: 1;
}

.event-slide {
    width: 80%;
    /* width: 75vw; */
}

.carousel {
    max-width: 90vw;
    display: flex;
    justify-content: center;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}